.topnav {
    background-color:black;
    color: white;
    overflow: hidden;
   }
   .topnav a{
      color: white;
      text-decoration: none;
      padding: 20px 40px;
      font-size: 20px;
   }
   body{
    padding:0;
    margin:0;
   }
   .loginform{
    border:1px solid black;
    text-align:center;
    height: 420px;
    width: 256px;
    margin-left: 323px;
   }
 .login-input{
    padding:10px;
 }
 .button{
    background-color: rgb(13, 153, 8);
    color:white;
 }
 .img{
    height: 140px;
    width: 141px;
    border-radius:70px ;
 }
  